body {
    /*font-family: Arial, Helvetica, sans-serif;*/

}

.wd-content-border {
    outline: 1px solid rgb(47, 51, 54);
    padding: 0px;
}

.wd-tuiter-search {
    background-color: white;
    border: rgb(33,33,33);
}

.wd-tuiter-search-gear {
    background-color: dodgerblue;
    border: rgb(33,33,33);
}

.wd-thick-br {
    border: 16px solid rgb(33,33,33);
    border-top: rgb(33,33,33);
}

.wd-body {
    background-color: black;
}

.wd-explore-bar-highlight {
    padding: 16px;
    font-size: 15px;
    color: rgb(29, 161, 242);
    border-bottom: 4px solid rgb(29, 161, 242);
    text-decoration: none;
}

.wd-explore-bar {
    padding: 16px;
    font-size: 15px;
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-float-left-search {
    float: left;
}

.wd-float-right-search {
    float: right;
    padding-right: 12px;
}

.wd-float-done {
    clear: both;
}

.wd-offset-left {
    margin-left: 8px;
}

.wd-float-left {
    float: left;
}
.wd-float-right {
    float:right;
    margin-right: 16px;
}

.wd-dots {
    padding-right: 10px;
    font-size: 16px;
    color: rgb(110, 118, 125);
}

.wd-white-dots{
    padding-right: 10px;
    color: white;
    font-size: 16px;
}

.wd-grey-word {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-white-topic {
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.wd-white-small-word {
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.wd-line-slim {
    border-color: rgb(47, 51, 54);
}

.wd-topic-block {
    height: 110px;
}


.wd-all-round {
    border-radius: 15pt;
}

.wd-search-color{
    color: rgb(105,105,105);
}

.wd-search-tuiter {
    bottom: 12px;
    left: 27px;
}

.wd-explore-gear {
    font-size: 28px;
    padding-top: 5px;
}

.wd-selected {
    border-bottom: 5px solid dodgerblue;
    padding-bottom: 2px;
}

.wd-planet-position {
    position: absolute;
    bottom: 12px;
    left: 120px;
}

.wd-title-position {
    color: white;
    position: absolute;
    bottom: 70px;
}

.wd-tuit-topic{
    color: grey;
}

.wd-tuit-explore{
    width:120%;
    height:80%
}

.wd-tuit-explore2{
    width:660%;
    height:380%
}

.wd-right-title {
    background-color: rgb(47, 47, 53);
    font-weight: bold;
    font-size: x-large;
}

.wd-bg-grey {
    background-color: rgb(47, 47, 53);
}

.wd-tuit-bold {
    font-weight: bold;
}

.wd-flag-icon{
    height: 32px;
    width: 20px;
}

.wd-times-icon{
    height: 20px;
    width: 20px;
}

.wd-middle-pic{
    height: 120px;
    width: 120px;
}